@import "tailwindcss";

@custom-variant dark (&:is(.dark *));
@plugin "daisyui";

/* @plugin "tailwindcss-animate"; */
.bg-dots-pattern {
  background-image: radial-gradient(
    circle,
    rgba(59, 130, 246, 0.5) 1px,
    transparent 1px
  );
  background-size: 15px 15px;
  animation: dotAnimation 20s linear infinite;
}
@keyframes dotAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 15px 15px;
  }
}

:root {

  --color-primary: #212a31;
  --color-secondary: #2e3944;
  --color-accent: #124e66;
  --color-neutral: #748d92;
  --color-light: #d3d9d4;
}

.about{
  background: url('../../public//about.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px 0px 20px 0px;
}
